@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

.title-text {
    position: absolute;
    top: 30vh;
    left: 10vw;
    width: 40vw;
}

.app-store {
    width: 150px;
}

.image-phone {
    position: absolute;
    right: 10vw;
    top: 5vh;
    width: 30vw;
}

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

footer {
    position: absolute;
    top: 150vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

footer p {
    font-size: 1rem !important;
    opacity: .8;
}

@media only screen and (max-width: 882px) {
    .image-phone {
        width: 45vw;
        position: absolute;
        right: 0;
        margin: auto;
        left: 0;
        text-align: center;
        top: 80vh;
        z-index: -1;
    }
    .title-text {
        position: absolute;
        width: 100vw;
        left: 0;
        text-align: center;
        font-size: 1.8rem !important;
    }
    .app-store {
        margin: auto;
        align-self: center;
        width: 130px;
    }
    .d-flex {
        width: 100%;
        justify-content: center;
    }
    footer {
        top: 200vh
    }
}

p {
    font-size: 2.25rem;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: whitesmoke;
}


@media only screen and (max-width: 654px) {
    .image-phone {
        width: 65vw;
        top: 92vh;
    }
    .title-text {
        font-size: 1.5rem !important;
    }
    footer {
        top: 260vh
    }
}

strong {
    font-family: "Inter-Bold", sans-serif;
    font-weight: 700;
    color: whitesmoke;
}
