@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    color: whitesmoke;
    font-size: 1.05em;
    font-family: "Inter", sans-serif;
}

body {
    overflow-x: hidden;
    max-width: 100%;
    background-color: #F3363F;
}
.container {
    padding: 25px
}

.w-100 {
    overflow-x: hidden;
    max-width: 100%;
    width: 100%;
}
